    <%= link_to '編集', edit_restaurant_path(@restaurant) %> |
    <%= link_to '戻る', restaurants_path %> |
    <%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant) %> |

    <hr>

    <h2>レビュー一覧</h2>
    <% @restaurant.reviews.each do |review| %>
      <p>
        <%= review.body %>
      </p>
    <% end %>
    <hr>
    <h2>レビューを残したユーザー一覧</h2>
    <%# throughオプションのおかげで、BookはReviewを介してUserにアクセスできる  %>
    <% @restaurant.users.each do |user| %>
    <% end %>
  </div>
</div>
